ul {
    list-style: none;
}

/* #answers {
    display: none;
} */

#header-box {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#scoreBox {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#ViewScores {
    display: inline;
}

#header-box h2 {
    display: inline;
}

#gamebox {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}